@model Entity_DAL.Entities.SupportUser

<form class="dx-form">
    @using (Html.BeginForm(actionName: "Log_in", controllerName: "Home", FormMethod.Post))
    {
        <div class="dx-form-group-md">
            <a href="account.html" class="dx-btn dx-btn-block dx-btn-popup dx-btn-envato d-flex align-items-center justify-content-center">
                <span class="fas fa-leaf mr-20"></span><span>Log in with Envato</span>
            </a>
        </div>
        <div class="dx-form-group-md">
            <div class="dx-signin-or">OR</div>
        </div>
        <div class="dx-form-group-md">
            @*<input type="text" asp-for="Email" class="form-control form-control-style-4" placeholder="Username Or Email">*@
            @Html.TextBoxFor(expression: model => model.Email, htmlAttributes: new { @value = "Username Or Email", @class = "form-control form-control-style-4" })
        </div>
        <div class="dx-form-group-md">
            @Html.PasswordFor(expression: model => model.Password, htmlAttributes: new { @value = "Password", @class = "form-control form-control-style-4" })

            @*<input type="password" asp-for="Password" class="form-control form-control-style-4" placeholder="Password">*@
        </div>
        <div class="dx-form-group-md">
            <a asp-action="Log_in" class="dx-btn dx-btn-block dx-btn-popup">Log In</a>
        </div>
        <div class="dx-form-group-md">
            <div class="d-flex justify-content-between">
                <a data-fancybox data-touch="false" data-close-existing="true" data-src="#reset-password" href="javascript:;">Reset your password</a>
                <a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;">Sign Up</a>
            </div>
        </div>
    }
</form>
