@model Entity_DAL.Entities.SupportUser
@{ 
    Layout = null;
}
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  

    <link rel="icon" type="image/png" href="~/lib/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700%7cMaven+Pro:400,500,700" rel="stylesheet"><!-- %7c -->
    <!-- Bootstrap -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- Fancybox -->
    <link rel="stylesheet" href="~/lib/fancybox/dist/jquery.fancybox.min.css">

    <!-- Pe icon 7 stroke -->
    <link rel="stylesheet" href="~/lib/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="~/lib/swiper/dist/css/swiper.min.css">

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css">

    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="~/lib/dropzone/dist/min/dropzone.min.css">

    <!-- Quill -->

    <link rel="stylesheet" type="text/css" href="~/lib/quill/dist/quill.snow.css">

    <!-- Font Awesome -->
    <script defer src="~/lib/fontawesome-free/js/all.js"></script>
    <script defer src="~/lib/fontawesome-free/js/v4-shims.js"></script>

    <!-- Amdesk -->
    <link rel="stylesheet" href="/css/site.css">


    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>


<body>
 
    <div class="container" id="login">
        <button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
        <div class="dx-signin-content dx-signin text-center">


            <h1 class="h3 text-dark mb-30">Log In</h1>
                <h3>@ViewBag.loged</h3>
            <form asp-action="Log_in" class="dx-form">
                <div class="dx-form-group-md">
                    <input type="text" asp-for="Email" class="form-control form-control-style-4" placeholder="Username Or Email">
                </div>
                <div class="dx-form-group-md">
                    <input type="password" asp-for="Password" class="form-control form-control-style-4" placeholder="Password">
                </div>
                <div class="dx-form-group-md">
                    <input type="submit" value="Log In" class="dx-btn dx-btn-block dx-btn-popup" />
                </div>
                <div class="dx-form-group-md">
                    <div class="d-flex justify-content-between">
                        <a data-fancybox data-touch="false" data-close-existing="true" data-src="#reset-password" href="javascript:;">Reset your password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- START: Scripts -->
    <!-- Object Fit Images -->
    <script src="~/lib/object-fit-images/dist/ofi.min.js"></script>

    <!-- Popper -->

    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>



    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Fancybox -->
    <script src="~/lib/fancybox/dist/jquery.fancybox.min.js"></script>

    <!-- Cleave -->
    <script src="~/lib/cleave.js/dist/cleave.min.js"></script>

    <!-- Validator -->
    <script src="~/lib/validator/validator.min.js"></script>

    <!-- Sticky Kit -->
    <script src="~/lib/sticky-kit/dist/sticky-kit.min.js"></script>

    <!-- Jarallax -->
    <script src="~/lib/jarallax/dist/jarallax.min.js"></script>
    <script src="~/lib/jarallax/dist/jarallax-video.min.js"></script>

    <!-- Isotope -->
    <script src="~/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>

    <!-- ImagesLoaded -->
    <script src="~/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Swiper -->
    <script src="~/lib/swiper/dist/js/swiper.min.js"></script>

    <!-- Gist Embed -->
    <script src="~/lib/gist-embed/gist-embed.min.js"></script>

    <!-- Bootstrap Select -->
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Dropzone -->
    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>

    <!-- Quill -->
    <script src="~/lib/quill/dist/quill.min.js"></script>

    <!-- The Amdesk -->
    <script src=" ~/js/site.js"></script>
    <script src="~/js/site.js"></script>
    <!-- END: Scripts -->


</body>
</html>