

            @*THIS LAYOUT IS USED FOR CLIENTS*@ 




@model Entity_DAL.Entities.SupportUser
 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] Amdesk | Welcome to Amdesk</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 

    <link rel="icon" type="image/png" href="/lib/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     @*START: Styles 
     Google Fonts*@ 
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700%7cMaven+Pro:400,500,700" rel="stylesheet">
     @*Bootstrap*@ 

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

     @*Fancybox*@ 
    <link rel="stylesheet" href="/lib/fancybox/dist/jquery.fancybox.min.css">

     @*Pe icon 7 stroke*@ 
    <link rel="stylesheet" href="/lib/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">

     @*Swiper*@ 
    <link rel="stylesheet" type="text/css" href="/lib/swiper/dist/css/swiper.min.css">

     @*Bootstrap Select*@ 
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap-select/dist/css/bootstrap-select.min.css">

     @*Dropzone*@ 
    <link rel="stylesheet" type="text/css" href="/lib/dropzone/dist/min/dropzone.min.css">

     @*Quill*@ 

    <link rel="stylesheet" type="text/css" href="/lib/quill/dist/quill.snow.css">

     @*Font Awesome*@ 
    <script defer src="/lib/fontawesome-free/js/all.js"></script>
    <script defer src="/lib/fontawesome-free/js/v4-shims.js"></script>

     @*Amdesk*@ 
    <link rel="stylesheet" href="/css/site.css">


     @*END: Styles 
     jQuery*@ 
    <script src="/lib/jquery/dist/jquery.min.js"></script>


</head>
<body>
    <header>

        <nav class="dx-navbar dx-navbar-top dx-navbar-collapse dx-navbar-sticky dx-navbar-expand-lg dx-navbar-dropdown-triangle dx-navbar-autohide">
            <div class="container">

                <a asp-action="index" asp-controller="Home" class="dx-nav-logo">
                    <img src="/images/logo.svg" alt="" width="88px">
                </a>


                <button class="dx-navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="dx-navbar-content">

                    <ul class="dx-nav dx-nav-align-left">

                        <li class="dx-drop-item">
                            <a href="blog.html">
                                Blog
                            </a>
                        </li>
                        <li class="dx-drop-item">
                            <a href="help-center.html">
                                Help Center
                            </a><ul class="dx-navbar-dropdown">

                                <li>
                                    <a href="help-center.html">
                                        Help Center
                                    </a>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="documentations.html">
                                        Documentations
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="documentations.html">
                                                Documentations
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-documentation.html">
                                                Single documentation
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="articles.html">
                                        Knowledge Base
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="articles.html">
                                                Knowledge Base
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-article-category.html">
                                                Single Article Category
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-article.html">
                                                Single Article
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="forums.html">
                                        Forums
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="forums.html">
                                                Forums
                                            </a>
                                        </li>
                                        <li>
                                            <a href="topics.html">
                                                Topics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-topic.html">
                                                Single Topic
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="ticket.html">
                                        Ticket System
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="ticket.html">
                                                Ticket System
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ticket-submit.html">
                                                Submit Ticket
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ticket-submit-2.html">
                                                Submit Ticket 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-ticket.html">
                                                Single Ticket
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dx-drop-item">
                            <a href="account.html">
                                Account
                            </a><ul class="dx-navbar-dropdown">

                                <li>
                                    <a href="account.html">
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <a href="account-licenses.html">
                                        Licenses
                                    </a>
                                </li>
                                <li>
                                    <a href="account-settings.html">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="dx-nav dx-nav-align-right">
                        @if (@ViewBag.log == "true")
                        {

                          @await Component.InvokeAsync("NavBarWithLog")

                        }
                        else
                        {
                            <li>
                                <a data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
                            </li>
                            <li>
                                <span><a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;" class="dx-btn dx-btn-md dx-btn-transparent">Sign Up</a></span>
                            </li>
                        }
                        </ul>
                </div>
            </div>
        </nav>

        <div class="dx-navbar dx-navbar-fullscreen">
            <div class="container">
                <button class="dx-navbar-burger">
                    <span></span><span></span><span></span>
                </button>
                <div class="dx-navbar-content">

                    <ul class="dx-nav dx-nav-align-left">

                        
                        <li class="dx-drop-item">
                            <a href="blog.html">
                                Blog
                            </a>
                        </li>
                        <li class="dx-drop-item">
                            <a href="help-center.html">
                                Help Center
                            </a><ul class="dx-navbar-dropdown">

                                <li>
                                    <a href="help-center.html">
                                        Help Center
                                    </a>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="documentations.html">
                                        Documentations
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="documentations.html">
                                                Documentations
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-documentation.html">
                                                Single documentation
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="articles.html">
                                        Knowledge Base
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="articles.html">
                                                Knowledge Base
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-article-category.html">
                                                Single Article Category
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-article.html">
                                                Single Article
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="forums.html">
                                        Forums
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="forums.html">
                                                Forums
                                            </a>
                                        </li>
                                        <li>
                                            <a href="topics.html">
                                                Topics
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-topic.html">
                                                Single Topic
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dx-drop-item">
                                    <a href="ticket.html">
                                        Ticket System
                                    </a><ul class="dx-navbar-dropdown">

                                        <li>
                                            <a href="ticket.html">
                                                Ticket System
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ticket-submit.html">
                                                Submit Ticket
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ticket-submit-2.html">
                                                Submit Ticket 2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="single-ticket.html">
                                                Single Ticket
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dx-drop-item">
                            <a href="account.html">
                                Account
                            </a><ul class="dx-navbar-dropdown">

                                <li>
                                    <a href="account.html">
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <a href="account-licenses.html">
                                        Licenses
                                    </a>
                                </li>
                                <li>
                                    <a href="account-settings.html">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="dx-nav dx-nav-align-right">


                        @if (@ViewBag.log == "true")
                        {

                            @await Component.InvokeAsync("NavBarWithLog")

                        }
                        else
                        {
                            <li>
                                <a data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
                            </li>
                            <li>
                                <span><a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;" class="dx-btn dx-btn-md dx-btn-transparent">Sign Up</a></span>
                            </li>
}





                    </ul>
                </div>
            </div>
        </div>

    </header>

    @RenderBody()


    <footer class="dx-footer">
        <div class="dx-box-1">
            <div class="container">
                <div class="row vertical-gap lg-gap">

                    <div class="col-sm-6 col-lg-3">

                        <div class="dx-widget-footer">
                            <div class="dx-widget-title">
                                <a href="index.html" class="dx-widget-logo">
                                    <img src="~/lib/images/images/logo.svg" alt="" width="88px">
                                </a>
                            </div>
                            <div class="dx-widget-text">
                                <p class="mb-0">&copy; 2019 <span class="dib">All rights reserved.</span> <span class="dib">Dexad &amp; nK.</span></p>
                            </div>
                            <div class="dx-widget-text">
                                <ul class="dx-social-links mnt-3">
                                    <li><a href="#"><span class="fab fa-behance-square"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                                    <li><a href="#"><span class="fab fa-github"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <div class="dx-widget-footer">
                            <div class="dx-widget-title">
                                Useful Links
                            </div>
                            <ul class="dx-widget-list">
                                <li><a href="store.html">Store</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="forums.html">Forums</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                            <ul class="dx-widget-list">
                                <li><a href="help-center.html">Help Center</a></li>
                                <li>
                                    <a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;">Sign Up</a>
                                </li>
                                <li>
                                    <a data-fancybox data-touch="false" data-close-existing="true" data-src="#login" href="javascript:;">Log In</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <div class="dx-widget-footer">
                            <div class="dx-widget-title">
                                Latest Products
                            </div>
                            <div class="dx-widget-portfolio">
                                <a href="product.html">Quantial – Moving Upon Signs Moveth Lesser</a>
                                <a href="product.html">Sensific – Saying Beast Lesser for in Fruitful</a>
                                <a href="product.html">Minist – Subdue Above for Signs Dry is Have Great</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-lg-3">

                        <div class="dx-widget-footer">
                            <div class="dx-widget-title">
                                Latest Posts
                            </div>
                            <a href="single-post.html" class="dx-widget-post">

                                <span class="dx-widget-post-text">
                                    <span class="dx-widget-post-title">The Big Thing in Design</span>
                                    <span class="dx-widget-post-date">25 Sep 2018</span>
                                </span>

                            </a>
                            <a href="single-post.html" class="dx-widget-post">

                                <span class="dx-widget-post-text">
                                    <span class="dx-widget-post-title">Will Coding Ever Rule the World?</span>
                                    <span class="dx-widget-post-date">24 Sep 2018</span>
                                </span>

                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
 

                @*THE LOGIN BLOC*@ 
        <div class="dx-popup dx-popup-signin" id="login">

            <button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
            <div class="dx-signin-content dx-signin text-center">
                <h1 class="h3 text-white mb-30">Log In</h1>


 
            <form class="dx-form" asp-action="Log_in" asp-controller="Home" method="Post">
              
                    <div class="dx-form-group-md">
                        <a href="account.html" class="dx-btn dx-btn-block dx-btn-popup dx-btn-envato d-flex align-items-center justify-content-center">
                            <span class="fas fa-leaf mr-20"></span><span>Log in with Envato</span>
                        </a>
                    </div>
                    <div class="dx-form-group-md">
                        <div class="dx-signin-or">OR</div>
                    </div>
                    <div class="dx-form-group-md">
                        <input type="email" asp-for="Email" class="form-control form-control-style-4" placeholder="username or email" required >
                     </div>
                    <div class="dx-form-group-md">
                         <input type="password" asp-for="Password" class="form-control form-control-style-4" required placeholder="Password">
                    </div>
                    <div class="dx-form-group-md">
                        <input type="submit" class="dx-btn dx-btn-block dx-btn-popup" value="Log In " />
                    </div>
                    <div class="dx-form-group-md">
                        <div class="d-flex justify-content-between">
                            <a data-fancybox data-touch="false" data-close-existing="true" data-src="#reset-password" href="javascript:;">Reset your password</a>
                            <a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup" href="javascript:;">Sign Up</a>
                        </div>
                    </div>
     
                </form>

            </div>
        </div>  


                    @*THE SIGNUP BLOC*@
        <div class="dx-popup dx-popup-signin" id="signup">
            <button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="10" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
            <div class="dx-popup-content dx-signin text-center">
                <h1 class="h3 text-white mb-30">Sign Up</h1>

                <form class="dx-form" asp-action="Sign_Up" asp-controller="Home">
                    <div class="dx-form-group-md">
                        <a href="account.html" class="dx-btn dx-btn-block dx-btn-popup dx-btn-envato d-flex align-items-center justify-content-center">
                            <span class="fas fa-leaf mr-20"></span><span>Sign Up with Envato</span>
                        </a>
                    </div>
                    <div class="dx-form-group-md">
                        <div class="dx-signin-or">OR</div>
                    </div>
                    <div class="dx-form-group-md">
                        <input type="text" asp-for="Name" class="form-control form-control-style-4" required placeholder="Name">
                    </div>
                    <div class="dx-form-group-md">
                        <input type="text" asp-for="LastName" class="form-control form-control-style-4" required placeholder="Last Name">
                    </div>
                    <div class="dx-form-group-md">
                        <input type="email" asp-for="Email" class="form-control form-control-style-4" required  placeholder="Email">
                    </div>
                    <div asp-validation-for="Email" class="text-danger"></div>
                    <div class="dx-form-group-md">
                        <input type="password" asp-for="Password" class="form-control form-control-style-4"
                required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" placeholder="Password">
                    </div>
 
                    <div class="dx-form-group-md">
                        <input type="text" asp-for="PhoneNumber" class="form-control form-control-style-4" required pattern="(\+216)?[0-9]{8}" placeholder="Phone (+216********)">
                    </div>

                    <div class="dx-form-group-md">
                        <input type="submit" class="dx-btn dx-btn-block dx-btn-popup" value="Sign Up " />
                    </div>
                </form>
            </div>
        </div>

        <div class="dx-popup dx-popup-signin" id="reset-password">
            <button type="button" data-fancybox-close class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
            <div class="dx-popup-content dx-signin text-center">
                <h1 class="h3 text-white mb-30">Reset Password</h1>

                <form action="#" class="dx-form">
                    <div class="dx-form-group-md">
                        <input type="email" class="form-control form-control-style-4" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="dx-form-group-md">
                        <button class="dx-btn dx-btn-block dx-btn-popup">Reset My Password</button>
                    </div>
                </form>
            </div>
        </div>

        


        <!-- START: Scripts -->
        <!-- Object Fit Images -->
        <script src="/lib/object-fit-images/dist/ofi.min.js"></script>

        <!-- Popper -->

        <script src="/lib/popper.js/dist/umd/popper.min.js"></script>

        <!-- Bootstrap -->
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Fancybox -->
        <script src="/lib/fancybox/dist/jquery.fancybox.min.js"></script>

        <!-- Cleave -->
        <script src="/lib/cleave.js/dist/cleave.min.js"></script>

        <!-- Validator -->
        <script src="/lib/validator/validator.min.js"></script>

        <!-- Sticky Kit -->
        <script src="/lib/sticky-kit/dist/sticky-kit.min.js"></script>

        <!-- Jarallax -->
        <script src="/lib/jarallax/dist/jarallax.min.js"></script>
        <script src="/lib/jarallax/dist/jarallax-video.min.js"></script>

        <!-- Isotope -->
        <script src="/lib/isotope-layout/dist/isotope.pkgd.min.js"></script>

        <!-- ImagesLoaded -->
        <script src="/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>

        <!-- Swiper -->
        <script src="/lib/swiper/dist/js/swiper.min.js"></script>

        <!-- Gist Embed -->
        <script src="/lib/gist-embed/gist-embed.min.js"></script>

        <!-- Bootstrap Select -->
        <script src="/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

        <!-- Dropzone -->
        <script src="/lib/dropzone/dist/min/dropzone.min.js"></script>

        <!-- Quill -->
        <script src="/lib/quill/dist/quill.min.js"></script>

        <!-- The Amdesk -->
        <script src="/js/amdesk-init.js" asp-append-version="true"></script>
        <script src="/js/amdesk.min.js" asp-append-version="true"></script>


        @await RenderSectionAsync("Scripts", required: false)
        <!-- END: Scripts -->
    </body>
</html>
